{% extends "base.html" %}
{% block title %}Forum{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}

<div class="container home-container px-d-1">
    <h1 class="my-3 px-1 px-d-0">Forum</h1>
    {% include "partials/forum_header.html" %}

    <div class="center">
        <div>
            <form method='post' action='' autocomplete="off">
                <div class="forum_form_container pt-2">
                    <div class="mt-1">
                        Category name<br>
                        <input class="px-0 px-d-1" type='text' name='cat_name' />
                    </div>
                    <div class="mt-1">
                        Category description<br>
                        <input class="px-0 px-d-1" type='text' name='cat_description' />
                    </div>
                    <div class="mt-1"><input class="px-0 px-d-1" type='submit' value='Add category' /></div>
                </div>
            </form>
        </div>
</div>
</div>

{% endblock %}