<div class="sidebar d-flex flex-column mb-1 pb-1">
    <div class="sticky">
        <div class="px-2 pb-2">
            <h3>Profile</h3>
            <div class="d-flex align-items-center">
                <img src="{{vars['avatar']}}" width="80px" height="80px">
                <p class="px-1">{{vars['user']}}</p>
            </div>
            <div class="py-1">
                <div class="d-flex justify-content-between">
                    <span>Level</span>
                    <span>0</span>
                </div>
                <div class="exp-bar">
                    <div class="fill"></div>
                </div>
            </div>
        </div>
    </div>
</div>