.action-required {
    position: relative;
}

.action-required[data-action]::after {
    content: attr(data-action);
    color: $light;
    position: absolute;
    top: -5px;
    right: -12px;
    background-color: $dark;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    font-size: 10px;
    font-family: monospace;
}

.admin-container {
    .permission {
        max-width: 500px;
        margin: 1rem auto;

        &:hover {
            background: $dark;
            color: $light;
            border: 1px solid $light;
            transition: all .5s;
        }
    }
}