/* Colors */
.bg-light {
	background-color: $light;
}

.bg-primary {
	background-color: $primary;
}

.bg-dark {
	background-color: $dark;
}

.text-light {
	color: $light !important;
	
	a {
		color: $light !important;
		&:hover {
			color: $light !important;
		}
	}
}

.text-primary {
	color: $primary !important;

	a {
		color: $primary !important;
		&:hover {
			color: $primary !important;
		}
	}
}

.text-dark {
	color: $dark !important;

	a {
		color: $dark !important;
		&:hover {
			color: $dark !important;
		}
	}
}

/* Alerts */
.alert-danger {
	background: $danger;
	color: $black;
	text-shadow: 0 0 $black;
	border-radius: 3px;
	padding: 1rem !important;
	
	a {
		color: $black;
		text-decoration: underline;
		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}
}

.alert-warning {
	background: $warning;
	color: $black;
	text-shadow: 0 0 $black;
	border-radius: 3px;
	padding: 1rem !important;
	
	a {
		color: $black;
		text-decoration: underline;
		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}
}

.alert-success {
	background: $success;
	color: $black;
	text-shadow: 0 0 $black;
	border-radius: 3px;
	padding: 1rem !important;

	a {
		color: $black;
		text-decoration: underline;
		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}
}

.text-danger {
	color: $danger !important;
}

.text-warning {
	color: $warning !important;
}

.button-warning {
	transition: all .5s;
	&:hover {
		background-color: $warning;
		border-color: $warning;
		color: $dark;
		text-shadow: 0 0 $black;
	}
}

.button-danger {
	transition: all .5s;
	&:hover {
		background-color: $danger;
		border-color: $danger;
		color: $dark;
		text-shadow: 0 0 $black;
	}
}
/* Sizes & Spacing */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.h-50 {
	height: 50%;
}

.h-75 {
	height: 75%;
}

.h-100 {
	height: 100%;
}

.h-auto {
	height: auto;
}

.w-50 {
	width: 50%;
}

.w-70 {
	width: 70%;
}

.w-100 {
	width: 100%;
}

.w-auto {
	width: auto;
}

@for $i from 0 through 5 {
	.p-#{$i} { padding: #{$i}rem !important; }
	.pt-#{$i} { padding-top: #{$i}rem !important; }
	.pb-#{$i} { padding-bottom: #{$i}rem !important; }
	.pl-#{$i} { padding-left: #{$i}rem !important; }
	.pr-#{$i} { padding-right: #{$i}rem !important; }
	.px-#{$i} { padding-left: #{$i}rem !important;
				padding-right: #{$i}rem !important; }
	.py-#{$i} { padding-top: #{$i}rem !important;
				padding-bottom: #{$i}rem !important; }

	.m-#{$i} { margin: #{$i}rem !important; }
	.mt-#{$i} { margin-top: #{$i}rem !important; }
	.mb-#{$i} { margin-bottom: #{$i}rem !important; }
	.ml-#{$i} { margin-left: #{$i}rem !important; }
	.mr-#{$i} { margin-right: #{$i}rem !important; }
	.mx-#{$i} { margin-left: #{$i}rem !important;
				margin-right: #{$i}rem !important; }
	.my-#{$i} { margin-top: #{$i}rem !important;
				margin-bottom: #{$i}rem !important; }
}

/* Border */
@for $i from 0 through 10 {
	.radius-#{$i} { border-radius: #{$i}px; }
}

.border-dark {
	border: 1px solid $dark;
}

.border-light {
	border: 1px solid $light;
}

/* Flex */
.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-row {
	flex-direction: row;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-around {
	justify-content: space-around;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

.align-items-center {
	align-items: center;
}

/* Display */
.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-inline {
	display: inline !important;
}

.d-inline-block {
	display: inline-block !important;
}

.d-table-cell {
	display: table-cell !important;
}

/* Container */
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

/* Text */
.font-weight-normal {
	font-weight: normal;
}

.font-weight-bold {
	font-weight: bold;
}

.unstyled-link {
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

/* List */
.unstyled-list {
	list-style: none;
	display: flex;
	padding-inline-start: 0;
}

/* Desktop Styles */
@media (min-width: 1200px) {
	/* Colors */
	.bg-d-light {
		background-color: $light;
	}

	.bg-d-primary {
		background-color: $primary;
	}

	.bg-d-dark {
		background-color: $dark;
	}

	.text-d-light {
		color: $light;
	}

	.text-d-primary {
		color: $primary;
	}

	.text-d-dark {
		color: $dark;
}

	/* Sizes & Spacing */
	.text-d-center {
		text-align: center;
	}
	
	.h-d-50 {
		height: 50%;
	}
	
	.h-d-75 {
		height: 75%;
	}
	
	.h-d-100 {
		height: 100%;
	}
	
	.h-d-auto {
		height: auto;
	}
	
	.w-d-50 {
		width: 50%;
	}

	.w-d-70 {
		width: 70%;
	}

	.w-d-100 {
		width: 100%;
	}
	
	.w-d-auto {
		width: auto;
	}

	@for $i from 0 through 5 {
		.p-d-#{$i} { padding: #{$i}rem !important; }
		.pt-d-#{$i} { padding-top: #{$i}rem !important; }
		.pb-d-#{$i} { padding-bottom: #{$i}rem !important; }
		.pl-d-#{$i} { padding-left: #{$i}rem !important; }
		.pr-d-#{$i} { padding-right: #{$i}rem !important; }
		.px-d-#{$i} { padding-left: #{$i}rem !important;
					padding-right: #{$i}rem !important; }
		.py-d-#{$i} { padding-top: #{$i}rem !important;
					padding-bottom: #{$i}rem !important; }
	
		.m-d-#{$i} { margin: #{$i}rem !important; }
		.mt-d-#{$i} { margin-top: #{$i}rem !important; }
		.mb-d-#{$i} { margin-bottom: #{$i}rem !important; }
		.ml-d-#{$i} { margin-left: #{$i}rem !important; }
		.mr-d-#{$i} { margin-right: #{$i}rem !important; }
		.mx-d-#{$i} { margin-left: #{$i}rem !important;
					margin-right: #{$i}rem !important; }
		.my-d-#{$i} { margin-top: #{$i}rem !important;
					margin-bottom: #{$i}rem !important; }
	}

	/* Border */
	@for $i from 0 through 10 {
		.radius-d-#{$i} { border-radius: #{$i}px; }
	}

	/* Flex */
	.flex-d-column {
		flex-direction: column;
	}

	.flex-d-column-reverse {
		flex-direction: column-reverse;
	}

	.flex-d-row {
		flex-direction: row;
	}

	.flex-d-column {
		flex-direction: column;
	}
	
	.flex-d-row {
		flex-direction: row;
	}

	.justify-content-d-start {
		justify-content: flex-start;
	}

	.justify-content-d-center {
		justify-content: center;
	}
	
	.align-items-d-center {
		align-items: center;
	}
	

	/* Display */
	.d-d-none {
		display: none !important;
	}

	.d-d-block {
		display: block !important;
	}

	.d-d-flex {
		display: flex !important;
	}

	.d-d-inline {
		display: inline !important;
	}

	.d-d-inline-block {
		display: inline-block !important;
	}

	.d-d-table-cell {
		display: table-cell !important;
	}

	/* Text */
	.font-weight-d-normal {
		font-weight: normal;
	}

	.font-weight-d-bold {
		font-weight: bold;
	}
}