$white: #fff;
$black: #000;
$light: #ccc;
$gray: #ababab;
$dark: #141414;
$blue-light: #5c7fb0;
$blue: #254e7b;
$blue-dark: #00224a;
$red: #e64848;
$yellow: #e0c943;
$green: #57d162;
$font: Verdana, Geneva, Tahoma, sans-serif;

$primary: $light;
$secondary: $dark;
$danger: $red;
$warning: $yellow;
$success: $green;
